Repository rickyxyz/solos-ta: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    lint:misc:
      glob: '*.{html,json,yml}'
      run: npm run prettier {staged_files}
    lint:css:
      glob: '*.{css}'
      run: npm run prettier {staged_files}
    lint:js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npm run prettier {staged_files} && npm run lint

chore: init playwright
  .gitignore
  package.json
  playwright.config.ts
Due: lint:misc, lint:js

feat: add fetchPlayers (stub)
  __tests__/player.actions.spec.ts
  constants/mocks/source.json
  lib/actions/player.actions.ts
  types/player.ts
Due: lint:misc, lint:js

feat: add player card element
  .storybook/main.ts
  .storybook/preview.ts
  app/globals.css
  components/CardPlayer.tsx
  stories/Button.stories.ts
  stories/Button.tsx
  stories/CardPlayer.stories.ts
  stories/Configure.mdx
  stories/Header.stories.ts
  stories/Header.tsx
  stories/Page.stories.ts
  stories/Page.tsx
  stories/assets/accessibility.png
  stories/assets/accessibility.svg
  stories/assets/addon-library.png
  stories/assets/assets.png
  stories/assets/context.png
  stories/assets/discord.svg
  stories/assets/docs.png
  stories/assets/figma-plugin.png
  stories/assets/github.svg
  stories/assets/peter.webp
  stories/assets/share.png
  stories/assets/styling.png
  stories/assets/testing.png
  stories/assets/theming.png
  stories/assets/tutorials.svg
  stories/assets/youtube.svg
  stories/button.css
  stories/header.css
  stories/page.css
Due: lint:js

chore: storybook can now resolve @ import
  .storybook/main.ts
  stories/CardPlayer.stories.ts
Due: lint:js

feat: add position filter component
  components/PositionFilter.tsx
  stories/PositionFilter.stories.ts
  types/player.ts
Due: lint:js

feat: add header component
  app/layout.tsx
  components/Header.tsx
  stories/Header.stories.ts
Due: lint:js

style: turn position filter to chip, change card background
  components/CardPlayer.tsx
  components/PositionFilter.tsx
  next.config.js
  tailwind.config.ts
  types/player.ts
Due: lint:js

feat: add homepage layout
  app/layout.tsx
  app/page.tsx
  components/Header.tsx
Due: lint:js

feat: add filter to fetchPlayers
  __tests__/player.actions.spec.ts
  lib/actions/player.actions.ts
Due: lint:js

feat: add fetchPlayer
  __tests__/player.actions.spec.ts
  lib/actions/player.actions.ts
Due: lint:js

fix: add key to CardPlayer info
  components/CardPlayer.tsx
Due: lint:js

feat: add filter players
  __tests__/pages.actions.spec.ts
  app/page.tsx
  components/PositionFilter.tsx
Due: lint:js

fix: home grid now resize properly on mobile
  app/page.tsx
  components/CardPlayer.tsx
Due: lint:js

feat: fixed screen height
  app/layout.tsx
  components/Header.tsx
Due: lint:js

chore: change image link
  constants/mocks/source.json
Due: lint:misc

feat: add player page
  __tests__/pages.actions.spec.ts
  app/page.tsx
  app/player/[username]/page.tsx
  components/CardPlayer.tsx
Due: lint:js

refactor: HTML semantics, long CSS, unused assets
  __tests__/pages.actions.spec.ts
  app/globals.css
  app/layout.tsx
  app/player/[username]/page.tsx
  components/CardPlayer.tsx
  components/Header.tsx
  public/next.svg
  public/vercel.svg
  tailwind.config.ts
Due: lint:js

test: change fetchPlayers to be similar to HomePage
  __tests__/player.actions.spec.ts
  lib/actions/player.actions.ts
Due: lint:js

refactor: remove redundant code in PositionFilter
  app/page.tsx
  components/PositionFilter.tsx
Due: lint:js

chore: fix lefthook lint
  lefthook.yml
Due: lint:misc

chore: fix storybook build, install sharp
  .github/deploy.yml
  .gitignore
  package-lock.json
  package.json
  stories/PositionFilter.stories.ts
Due: lint:misc, lint:js

feat: add README.md
  README.md
Due: none

feat: update README
  README.md
Due: none

fix: move action to .github/workflows
  .github/workflows/deploy.yml
Due: lint:misc

chore: modify storybook static path
  .storybook/main.ts
Due: lint:js

deploy: use env to resolve asset path
  .storybook/main.ts
  stories/CardPlayer.stories.ts
Due: lint:js

deploy: use Deploy Storybook to GitHub Pages
  .github/workflows/deploy.yml
  .storybook/main.ts
  stories/CardPlayer.stories.ts
Due: lint:misc, lint:js

deploy: try changing asset path
  stories/CardPlayer.stories.ts
Due: lint:js

deploy: remove github actions
  .github/workflows/deploy.yml
Due: lint:misc

deploy: change path to JSON
  lib/actions/player.actions.ts
Due: lint:js

deploy: move source.json to public folder
  lib/actions/player.actions.ts
  public/source.json
Due: lint:misc, lint:js

deploy: change pathname resolution
  lib/actions/player.actions.ts
Due: lint:js

deploy: try moving source.json back
  constants/mocks/source.json
  lib/actions/player.actions.ts
Due: lint:misc, lint:js

deploy: add back storybook deployment
  .github/workflows/deploy.yaml
Due: none

style: README.md
  README.md
Due: none

feat: test csr strategy
  app/page.tsx
  components/PositionFilter.tsx
Due: lint:js
